{
	"parser": "babel-eslint",
	"parserOptions": {
		"sourceType": "module",
		"ecmaVersion": 8,
		"ecmaFeatures": {
			"jsx": true
		}
	},
	"env": {
		"es6": true,
		"browser": true
	},
	"extends": ["eslint:recommended", "plugin:react/recommended", "prettier", "prettier/react"],
	"plugins": ["react", "react-hooks"],
	"rules": {},
	"settings": {
		"import/resolver": {
			"node": {
				"moduleDirectory": ["node_modules", "src/"]
			}
		},
		"react": {
			"version": "detect"
		}
	}
}
