body {
    background: #f4f4f4;
}
.main-wrap {
    max-width: 1170px;
    margin: 0 auto;
    padding: 80px 25px 80px;
    min-height: 600px;
}
.nav-wrapper {
    max-width: 1170px;
    margin: 0 auto;
    padding: 0 25px;
}
nav .brand-logo {
    font-weight: 200;
}
.card-title {
    border-bottom: solid 1px #f4f4f4;
    margin-bottom: 15px;
    display: block;
}