@import 'scss/vars';

.header {
	background-color: $color-w1;
	padding: 10px 2rem;
	align-items: center;
}

.container {
	display: flex;
	align-items: center;
}

.title {
	font-weight: 500;
}

.links {
	margin-left: auto;
}
