{
    "parser": "@typescript-eslint/parser",
    "extends": [
        "eslint:recommended",
        "plugin:@typescript-eslint/recommended"
    ],
    "plugins": ["jest", "@typescript-eslint"],
    "env": {
        "jest": true,
        "node": true
    }
}
